[Wufoo]
wf_user=[username]
wf_apikey= YOUR API KEY
wf_url=https://[username].wufoo.com/api/v3/

[Cloudant]
db_url=https://[username].cloudant.com/[database]/
db_user=[Cloudant username]
db_pass=[password]
